{% extends 'base.html' %}

{% block head_title %}{{block.super}} | {{ sezione.nome_sezione }} {% endblock head_title %}

{% block content %}

<div class="card my-3">
    <div class="card-header">
        <h3>{{ sezione.nome_sezione }}</h3>
        <h6 class="card-text">{{ sezione.descrizione }}</h6>
    </div>

    <div class="card-body">
        {% for discussione in discussioni %}
            <h6><a href="{{ discussione.get_absolute_url }}">{{ discussione.titolo }}</a></h6>
            <p class="caption">{{ discussione.autore_discussione }}</p>
            <hr>
        {% endfor %}
    </div>
</div>
{% endblock content %}