{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} | {{ discussione.titolo}}{% endblock head_title %}

{% block content %}

    {% for post in posts_discussione %}
        <div class="card my-3">
        {% if forloop.first %}
            <div class="card-header bg-light pb-0">
                <h3>{{ discussione.titolo }}</h3>
                <p class="text-muted"><span class="data_post">{{ discussione.data_creazione|date:"D d M Y" }}</span>
                <br>in: {{ discussione.sezione_appartenenza }}</p>
            </div>
        {% else %}
        <div class="card-header bg-light py-0">
            <p class="text-muted data_post mb-0">{{ post.data_creazione|date:"d M Y" }}</p>
        </div>
        {% endif %}
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-2 col-3">
                        <p class="mb-0"><a href="{% url 'user_profile' username=post.autore_post.username %}">@{{ post.autore_post }}</a></p>
                        <p class="text-muted data_post mb-0">Utente da: {{ post.autore_post.date_joined|date:"m/y" }}</p>
                        <p class="text-muted">Posts: {{ post.autore_post.posts.count }}</p>

                    </div>
                    <div class="col-xl-10 col-9">
                        <p class="my-0">{{ post.contenuto|linebreaks }}</p>
                    </div>
                </div>


                <!-- <h6 class="card-text">{{ sezione.descrizione }}</h6> -->
            </div>
        </div>

    {% endfor %}
    
    {% if request.user.is_authenticated %}
        {% include 'forum/form_risposta.html' %}
    {% else %}
        <br>
        <div class="alert alert-warning" role="alert">
            Devi effettuare il <a href="{% url 'login' %}?next={{ request.get_full_path }}">login</a> per aggiungere una risposta!
        </div>
    {% endif %}
{% endblock content %}