{% extends 'base.html' %}

{% block head_title %}{{block.super}} - {{user}} {% endblock head_title %}

{% block content %}

    <div class="row mt-3">
        <div class="col-3">
            <div class="card my-2">
                <div class="card-header bg-light">
                    <h5><strong>{% if request.user == user %}Il Tuo {% endif %}Profilo Utente</strong></h5>
                </div>
                <div class="card-body">
                    <p class="lead">@{{user}}</p>
                    <p class="mb-0">Iscrizione: {{ user.date_joined|date:"d M Y" }}</p>
                    <p class="mb-0">Discussioni: {{ user.discussioni.count }}</p>
                    <p class="mb-0">Posts: {{ user.posts.count }}</p>
                </div>
                <div class="card-footer bg-light"></div>
            </div>
        </div>
        <div class="col-9">
            <div class="card my-2">
                <div class="card-header bg-light">
                    <h5><strong>Discussioni</strong></h5>
                </div>
                <div class="card-body">
                    {% for discussione in discussioni_utente %}
                        <a href="{{ discussione.get_absolute_url}}">{{ discussione.titolo }}</a>
                        <p class="text-muted">In: {{ discussione.sezione_appartenenza }}</p>
                        {% empty %}
                            {% if request.user != user%}
                                <p>{{ user }} non ha creato alcuna discussione</p>
                            {% else %}
                                <p>Non hai creato nessuna discussione! Inizia Subito!</p>
                            {% endif %}
                    {% endfor %}
                </div>
                <div class="card-footer bg-light"></div>
            </div>
        </div>
    </div>

{% endblock content %}